header h1{
    text-decoration: underline;
    color : teal;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    padding : 10px;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: max-content;
    gap : 10px;
    border : 10px solid black;
    padding : 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: teal;
    margin-left: auto; 
    margin-right: auto;
}

form label {
    color : rgb(255, 227, 227);
    font-size: 16x;
}

form input,select {
    padding: 8px;
    border : none;
    border-radius: 20px;
}

#submit{
    padding: 10px;
    border-radius: 15px;
    color :rgb(40, 102, 168);
    background-color: whitesmoke ;
    font-weight: bold;
}

#submit:hover {
    transition: 0.5s ease-in-out;
    background-color : rgb(6, 44, 68);
    color : white;
    cursor: pointer;
}


#total-display {
    color : rgb(57, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color:rgba(163, 211, 221, 0.252);
    max-height : fit-content;
    margin: 10px; 
    min-width: 100px;
    max-width: fit-content;
    margin : auto;
    border: 10px solid green;
}

#total-display h4 {
    font-size: 24px;
    text-decoration: underline;
}

#total-display p {
    font-size: 20px;
}

#details {
    padding:10px;
    text-decoration: underline;
}

#expensesKeeper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap : 5px;
    border : 3px solid teal;
    padding: 10px;
    margin-top: 7px;
    width: 300px;
    text-align: center;
}

